<section class="container separador">
   <article class="cursos__info">
      <h2 class="heading">OFERTA educativa</h2>
      <p class="paragraph">La oferta de educación continua del TECNM es amplia y muy variada, en este catálogo puedes encontrar una selección del tipo de actividades que ofrece la universidad, si requieres información adicional o tienes interés en un área temática específica puedes contactar a las instancias correspondientes a través del Directorio Ejecutivo.</p>
      <div class="field">
         <input type="text" class="fiedl__search" placeholder="Busca un curso, idioma, marco o profesor...">
         <button class="bton__search"> <i class="material-icons nav__icon">search</i>Buscar</button>
       </div>
   </article>

   <div class="grid__cursos">
   {{#each projects}}
      <div class="item__curso">
         <figure class="curso__image">
            <img src="{{img}}" alt="" class="curso__img">
         </figure>
         <h3 class="title">{{course}}</h3>
         <p class="paragraph">{{teacher}}</p>
         <p class="price">MXM${{priceOff}} <span class="price--span">MXM${{price}}</span></p>
         <a href="#" class="botn">Obtenga acceso completo</a>
      </div>
   {{/each}}
   </div>
</section>