<section class="container">
  <form autocomplete='off' action='/CMS/new' method='POST' class="course__form">
    <div class="campo">
      <label class="couse__label" for="course">Nombre de curso</label>
      <input type="text" name="course" value="{{project.course}}" oninvalid="this.setCustomValidity('Agrega un curso')" required>
      
      {{#if errorModel.courseError}}
              <span class="spanError">{{errorModel.courseError}}</span>
      {{/if}}
    </div>
    <div class="campo">
      <label class="couse__label" for="teacher">Nombre de teacher</label>
      <input type="text" name="teacher" value="{{project.teacher}}" oninvalid="this.setCustomValidity('Agrega un nombre')" required>
      {{#if errorModel.teacherError}}
              <span class="spanError">{{errorModel.teacherError}}</span>
      {{/if}}
    </div>
    <div class="campo campo-modi">
      <div class="campo-price">
        <label class="couse__label" for="price">Precio</label>
        <input type="text" name="price" value="{{project.price}}" oninvalid="this.setCustomValidity('Agrega un precio')" required>
        {{#if errorModel.priceError}}
                <span class="spanError">{{errorModel.priceError}}</span>
        {{/if}}
      </div>
      <div class="campo-price">
        <label class="couse__label" for="price">Precio con descuento</label>
        <input type="text" name="priceOff" value="{{project.priceOff}}" oninvalid="this.setCustomValidity('Agrega un precio con descuento')" required>
        
        {{#if errorModel.priceOffError}}
                <span class="spanError">{{errorModel.priceOffError}}</span>
        {{/if}}
      </div>
    </div>
    <div class="campo">
      <label class="couse__label" for="igm">Url img</label>
      <input type="text" name="img" value="{{project.img}}" oninvalid="this.setCustomValidity('Agrega una url')" required>
      {{#if errorModel.imgError}}
              <span class="spanError">{{errorModel.imgError}}</span>
      {{/if}}
    </div>
    <div class="campo__submit">
      <input type="submit" value="enviar" class="bton__search bton__submit">
    </div>
  </form>

</section>